body {
  margin: 0;
  font-family: var(--main-font);
  font-size: var(--main-size);
  color: var(--text-color);
  background-color: var(--main-color);
  counter-reset: section;
}
body.no-scroll {
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1110px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --main-color: white;
  --secondary-color: #f5f7ff;
  --main-font: "Open Sans";
  --text-color: #272323;
  --text-dark: #353434;
  --secondary-text-color: #a8a8a8;
  --extra-bold-weight: 800;
  --regular: 400;
  --semi-bold-weight: 600;
  --medium-weight: 500;
  --main-size: 14px;
  --small-size: 12px;
  --medium-size: 16px;
  --large-size: 45px;
}

.header {
  background-color: var(--secondary-color);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 56px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: var(--regular);
  font-size: var(--main-size);
  line-height: 24px;
}

.nav__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nav__item:not(:last-child) {
  margin-right: 27px;
}

.nav__link {
  color: var(--text-color);
  cursor: pointer;
}

.search-container {
  margin-left: 67px;
  width: 307px;
  height: 35px;
  border-radius: 50px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 19px;
  padding-right: 7px;
}
.search-container input {
  height: 100%;
  width: 90%;
  border: 0;
  outline: none;
  background-color: transparent;
}

.search-box {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.auth {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 26px;
}
.auth div {
  margin: 0 4px;
}

.hat {
  background-color: var(--secondary-color);
  padding-top: 33px;
}

.hat__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hat__block {
  max-width: 543px;
  max-height: 328px;
}
.hat__block h1 {
  font-family: "Prompt";
  color: var(--text-dark);
  font-size: var(--large-size);
  line-height: 55px;
  margin-bottom: 18px;
}
.hat__block-text {
  font-size: var(--main-size);
  color: var(--secondary-text-color);
  line-height: 24px;
  margin-bottom: 30px;
}

.hat-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-discover {
  font-family: "Open Sans";
  width: 150px;
  height: 44px;
  padding: 12px 21px;
  color: #ffffff;
  font-size: var(--medium-size);
  background-color: #544cac;
  text-align: center;
  border: 0;
  border-radius: 5px;
}

.button-watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 34px;
}
.button-watch p {
  margin-left: 10px;
  font-size: var(--medium-size);
}
.button-watch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.button-watch-container svg {
  fill: #ff5c00;
}

.hat-block-span {
  color: #ff5c00;
}

.partners {
  padding-top: 32px;
  padding-bottom: 33px;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__img1 {
  margin-right: 102px;
}

.partners__img2 {
  margin-right: 64px;
}

.partners__img3 {
  margin-right: 86px;
}

.partners__img4 {
  margin-right: 93px;
}

.partners__img5 {
  margin-right: 92px;
}

.how__works {
  padding-top: 33px;
  padding-bottom: 60px;
}
.how__works-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.how__works-text {
  font-family: "Oswald";
  font-size: var(--small-size);
  color: #ff5c00;
}

.works__box {
  width: 435px;
}
.works__box .works__title {
  font-family: "Oswald";
  color: var(--text-dark);
  line-height: 40px;
  font-size: 40px;
  margin-top: 19px;
  margin-bottom: 43px;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 435px;
  height: 58px;
  padding: 21px 21px 20px 24px;
  border-radius: 5px;
  background-color: var(--secondary-color);
}
.works__item-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.works__item-title {
  margin-left: 15px;
  font-family: var(--main-font);
  font-size: var(--medium-size);
  font-weight: var(--semi-bold);
}
.works__item-text {
  color: var(--secondary-text-color);
  font-weight: var(--regular);
  font-size: var(--small-size);
}
.works__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.open {
  height: 134px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.open-text {
  padding-left: 45px;
}

.works__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.one {
  color: #9444c9;
  background-color: #f3e0ff;
}

.two {
  color: #626fff;
  background-color: #e7e9fe;
}

.three {
  color: #ff5c00;
  background-color: #ffdecc;
}

.works__img {
  width: 635px;
  height: 433px;
  border-radius: 10px;
}
.works__img img {
  width: 100%;
  height: 100%;
}

.why {
  padding-top: 33px;
  padding-bottom: 60px;
}
.why-title {
  font-family: "Oswald";
  line-height: 50px;
  font-size: 40px;
  font-weight: var(--regular);
  text-align: center;
  margin-bottom: 20px;
}
.why-text {
  line-height: 24px;
  color: var(--secondary-text-color);
  text-align: center;
  padding: 0% 283px;
}
.why-container {
  margin-bottom: 60px;
}

.why-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-item {
  width: 350px;
  height: 254px;
  background-color: var(--main-color);
  padding: 40px 37px 34px;
  border-radius: 10px;
  -webkit-box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
.why-item h3 {
  font-weight: var(--semi-bold-weight);
  font-size: 20px;
  line-height: 17px;
  margin-bottom: 15px;
}
.why-item p {
  line-height: 22px;
  text-align: left;
  color: var(--secondary-text-color);
}
.why-item:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  background-color: #f9faff;
}

.why-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  margin-bottom: 22px;
}

.svg-one {
  background-color: #6156dc;
}

.svg-two {
  background-color: #ef6010;
}

.svg-three {
  background-color: #a73eed;
}

.feautured {
  padding-top: 60px;
  padding-bottom: 60px;
}
.feautured-title {
  font-family: "Oswald";
  line-height: 50px;
  font-size: 40px;
  font-weight: var(--regular);
  text-align: center;
  margin-bottom: 20px;
}
.feautured-text {
  line-height: 24px;
  color: var(--secondary-text-color);
  text-align: center;
  padding: 0% 283px;
}
.feautured-position {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 16px;
  font-weight: var(--regular);
  letter-spacing: 0.8px;
}
.feautured-team {
  margin-bottom: 44px;
  font-weight: var(--regular);
  line-height: 22px;
  color: #4238af;
}
.feautured-salary {
  font-size: var(--medium-size);
  line-height: 23px;
  margin-bottom: 14px;
  position: relative;
  padding-left: 25px;
}
.feautured-spot {
  font-size: var(--medium-size);
  line-height: 23px;
  margin-bottom: 33px;
  position: relative;
  padding-left: 25px;
}
.feautured-container {
  margin-bottom: 80px;
}

.feautured-salary::before {
  background-image: url(../../images/svg/bag.svg);
  content: "";
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: contain;
  width: 16px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 0;
}

.feautured-spot::before {
  background-image: url(../../images/svg/mark.svg);
  content: "";
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: contain;
  width: 16px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 0;
}

.monthly {
  color: var(--secondary-text-color);
  margin-left: 4px;
  text-align: left;
}

.map {
  color: var(--secondary-text-color);
  margin-left: 17px;
  text-align: left;
}

.feautured-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 75px;
}

.feautured-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 50px;
  width: 340px;
  height: 465px;
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
.feautured-item:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  background-color: #f9faff;
}

.feautured-employers {
  margin-bottom: 40px;
}

.feautured-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.feautured-buttons-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f9faff;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.feautured-buttons-like svg {
  fill: #ff5c00;
  -webkit-transition: fill 0.3s ease, color 0.3s ease;
  transition: fill 0.3s ease, color 0.3s ease;
}

.feautured-buttons-like:hover {
  background-color: #ff5c00;
}
.feautured-buttons-like:hover svg {
  fill: white;
}

.feautured-buttons-apply {
  background-color: rgba(56, 49, 139, 0.3);
  color: #38318b;
  width: 140px;
  height: 45px;
  border-radius: 47px;
  border: 0;
  font-family: "Open Sans";
  font-size: var(--medium-size);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.feautured-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feautured-buttons-apply:hover {
  color: white;
  background-color: #544cac;
}

.feautured-buttons-view {
  color: white;
  background-color: #544cac;
  width: 140px;
  height: 45px;
  border-radius: 47px;
  border: 0;
  font-family: "Open Sans";
  font-size: var(--medium-size);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.feautured-buttons-view:hover {
  background-color: rgba(56, 49, 139, 0.3);
  color: #38318b;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
.customers-title {
  font-family: "Oswald";
  line-height: 50px;
  font-size: 40px;
  font-weight: var(--regular);
  text-align: center;
  margin-bottom: 20px;
}
.customers-text {
  line-height: 24px;
  color: var(--secondary-text-color);
  text-align: center;
  padding: 0% 283px;
}
.customers-container {
  margin-bottom: 45px;
}

.customers-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}

.about-img {
  width: 350px;
  height: 350px;
}

.about-container {
  margin-left: 30px;
  width: 730px;
}
.about-container-title {
  font-weight: var(--semi-bold-weight);
  font-size: 20px;
  margin-bottom: 13px;
  line-height: 17px;
}
.about-container-ceo {
  line-height: 21px;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}
.about-container-score {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.about-container-score p {
  margin-left: 10px;
  font-weight: bold;
}
.about-container-text {
  color: var(--text-dark);
  line-height: 26px;
  letter-spacing: 0.2px;
  margin-bottom: 39px;
}

.customers-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.customers-navigation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7px;
  cursor: pointer;
  width: 41px;
  height: 41px;
  background-color: #f3f5ff;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.arrow-button:not(:last-child) {
  margin-right: 15px;
}
.arrow-button svg {
  fill: #ef6010;
  -webkit-transition: fill 0.3s ease, color 0.3s ease;
  transition: fill 0.3s ease, color 0.3s ease;
}

.arrow-button:hover {
  background-color: #ef6010;
}
.arrow-button:hover svg {
  fill: #f3f5ff;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 74px 115px;
  background-color: #ced5f4;
  border-radius: 30px;
}

.customers-item {
  text-align: center;
}
.customers-item span {
  font-family: "Oswald";
  font-size: 40px;
  color: #584ec6;
}
.customers-item p {
  color: white;
  font-size: var(--medium-size);
  margin-top: 14px;
}

.pricing {
  padding-top: 60px;
  padding-bottom: 120px;
}
.pricing-title {
  font-family: "Oswald";
  line-height: 50px;
  font-size: 40px;
  font-weight: var(--regular);
  text-align: center;
  margin-bottom: 20px;
}
.pricing-text {
  line-height: 24px;
  color: var(--secondary-text-color);
  text-align: center;
  padding: 0% 283px;
}
.pricing-container {
  margin-bottom: 75px;
}

.pricing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 62px 65px;
  width: 350px;
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
.pricing-item:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  background-color: #f9faff;
}
.pricing-item-plan {
  font-weight: var(--semi-bold-weight);
  font-size: 20px;
  color: #4238af;
  line-height: 17px;
  margin-bottom: 31px;
}
.pricing-item-price {
  font-family: "Oswald";
  font-size: var(--large-size);
  line-height: 55px;
  letter-spacing: 2px;
  margin-bottom: 24px;
}
.pricing-item-month {
  margin-bottom: 71px;
  color: #8a86b9;
}
.pricing-item-include {
  text-align: left;
}
.pricing-item button {
  margin-top: 47px;
  background-color: rgba(56, 49, 139, 0.3);
  color: #38318b;
  width: 140px;
  height: 45px;
  border-radius: 47px;
  border: 0;
  font-family: "Open Sans";
  font-size: var(--medium-size);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.pricing-item button:hover {
  color: white;
  background-color: #544cac;
}

.item-include {
  color: var(--secondary-text-color);
  position: relative;
  padding-left: 27px;
}
.item-include:not(:last-of-type) {
  margin-bottom: 19px;
}

.item-include::before {
  background-image: url(../../images/svg/yes.svg);
  content: "";
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 1px;
  left: 0;
}

.footer {
  padding-top: 110px;
  background-color: #dbe2ff;
  border-radius: 30px 30px 0 0;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 98px;
}

.footer-item {
  -moz-text-align-last: left;
       text-align-last: left;
}
.footer-item h3 {
  font-family: "Oswald";
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 18px;
  margin-bottom: 28px;
}
.footer-item p {
  font-size: var(--medium-size);
  line-height: 15px;
}
.footer-item p:not(:last-of-type) {
  margin-bottom: 20px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 3px solid #625bae;
  padding: 17px 0 17px 0;
}

.footer-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3a2e5c;
  gap: 70px;
  font-weight: var(--semi-bold-weight);
  font-size: var(--small-size);
}

.footer-svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-svg-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 29px;
  height: 29px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.footer-svg-item:not(:last-of-type) {
  margin-right: 9px;
}
.footer-svg-item svg {
  fill: #979797;
  -webkit-transition: fill 0.3s ease, color 0.3s ease;
  transition: fill 0.3s ease, color 0.3s ease;
}

.footer-svg-item:hover {
  background-color: #4238af;
}
.footer-svg-item:hover svg {
  fill: white;
}