.hat {
  background-color: var(--secondary-color);
  padding-top: 33px;
}
.hat__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hat__block {
  max-width: 543px;
  max-height: 328px;
  h1 {
    font-family: "Prompt";
    color: var(--text-dark);
    font-size: var(--large-size);
    line-height: 55px;
    margin-bottom: 18px;
  }

  &-text {
    font-size: var(--main-size);
    color: var(--secondary-text-color);
    line-height: 24px;
    margin-bottom: 30px;
  }
}
.hat-buttons {
  display: flex;
  align-items: center;
}
.button-discover {
  font-family: "Open Sans";
  width: 150px;
  height: 44px;
  padding: 12px 21px;
  color: #ffffff;
  font-size: var(--medium-size);
  background-color: #544cac;
  text-align: center;
  border: 0;
  border-radius: 5px;
}
.button-watch {
  display: flex;
  align-items: center;
  margin-left: 34px;
  p {
    margin-left: 10px;
    font-size: var(--medium-size);
  }
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    svg {
      fill: #ff5c00;
    }
  }
}

.hat-block-span {
  color: #ff5c00;
}
