.partners {
  padding-top: 32px;
  padding-bottom: 33px;
}
.partners__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners__img1 {
  margin-right: 102px;
}
.partners__img2 {
  margin-right: 64px;
}
.partners__img3 {
  margin-right: 86px;
}
.partners__img4 {
  margin-right: 93px;
}
.partners__img5 {
  margin-right: 92px;
}
