:root {
  --main-color: white;
  --secondary-color: #f5f7ff;
  --main-font: "Open Sans";
  --text-color: #272323;
  --text-dark: #353434;
  --secondary-text-color: #a8a8a8;
  //   Font Weight
  --extra-bold-weight: 800;
  --regular: 400;
  --semi-bold-weight: 600;
  --medium-weight: 500;
  //   Font Size
  --main-size: 14px;
  --small-size: 12px;
  --medium-size: 16px;
  --large-size: 45px;
}
